.code-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.code-block {
  min-height: max-content;
  display: flex;
  flex-direction: column;
  white-space: pre;
  tab-size: 4;
  margin: 0;
  font-family: monospace;
  text-align: left;
}
