.displayCard{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 2px dotted black;
    background-color: rgb(209, 134, 42);
}

.displayCard:hover{
    cursor: pointer;
}
