.displayCard{

    margin: 10px;
    padding: 10px;
    width: 22rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(209, 134, 42);
}
