.navbar{
    height: 50px;
    padding-left:15px;
    color: bisque;
    background-color:#1f1f1f;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.back-press{
  cursor: pointer;
  margin-left: 10px;
  margin-right:20px;
}
